################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/DpAuth-WebApi
/.vs/ProjectEvaluation/dpauth-webapi.metadata.v5.1
/DpAuth-WebApi/bin/Debug/net6.0
/DpAuth-WebApi/obj
/DPAuth.Messages.Abstractions/bin/Debug/net6.0
/DPAuth.Messages.Abstractions/obj
/DpAuth.Notifications/bin/Debug/net6.0
/DpAuth.Notifications/obj/Debug/net6.0
/DpAuth.Notifications/obj
/DpAuthWebApi.Client/bin/Debug/net6.0
/DpAuthWebApi.Client/obj/Debug/net6.0
/DpAuthWebApi.Client/obj
/DpAuthWebApi.IntegrationTests/bin/Debug/net6.0
/DpAuthWebApi.IntegrationTests/obj/Debug/net6.0
/DpAuthWebApi.IntegrationTests/obj
/DpAuthWebApi.UnitTests/bin/Debug/net6.0
/DpAuthWebApi.UnitTests/obj/Debug/net6.0
/DpAuthWebApi.UnitTests/obj
